<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Time is precious</h5>
                <p class="grey-text text-lighten-4">Don't waste it searching for the right place.</p>
               <p class="grey-text text-lighten-4">We will do it for you.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Home</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3"  routerLink="/categorie/1">Restaurants</a></li>
                  <li><a class="grey-text text-lighten-3"  routerLink="/categorie/2">Cafes</a></li>
                   <li><a class="grey-text text-lighten-3"  routerLink="/categorie/3">Shopping</a></li>
                  <li><a class="grey-text text-lighten-3"  routerLink="/categorie/5">Sports</a></li>
                  <li><a class="grey-text text-lighten-3"  routerLink="/categorie/4">Beauty</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Copyright Asma
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>