<div  >


          <div class="card sticky-action">
            <div class="card-image">

             
           
  
  <div class="content">
    <a routerLink="{{Item?.id}}" >
 <img class="responsive-img" [src]="getImage(Item?.image)">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">Show details</h3>
        <!-- <p class="content-text">This is a short description</p> -->
      </div>
    </a>
  </div>

          </div>
        <div class="card  ">
                  <div class="card-content ">
                    <span class="card-title">{{Item.name}}</span>
                     <p> Rated : {{Item.rating}}/10 </p>
                     
                  </div>
        

        </div>
                

        <!-- Google Maps Localisation -->



</div>
