

<div class="two rows" id="first-page">
  <!-- three tiles per row -->
  <div class="three cols">

    <!-- first row  -->
    
      <div class="schmancy tile pic0">
      <!-- tile content -->
      <div class="content"> <a routerLink="/categorie/1"> Restaurants </a> </div> 
    </div>  

   
  
    
  
  <div class="schmancy tile about">
      <div class="content"><a routerLink="/">  About </a> </div>
    </div>
    
  <!-- <a href="#"> -->
    <div class="schmancy tile cafe">
      <div class="content"><a routerLink="/categorie/2"> Cafés </a> </div>
    </div>
  <!-- </a> -->
  </div>

  <!-- seconde row -->
  <div class="four cols">
    
    <div class="schmancy tile shopping">
      <div class="content"> <a routerLink="/categorie/3">Shopping </a> </div>
    </div>
  
    <div class="schmancy tile sports">
      <div class="content"> <a routerLink="/categorie/5">Sports  </a> </div>
    </div>
 
 
     <div class="schmancy tile spa">
      <div class="content"><a routerLink="/categorie/4"> Beauty  </a> </div>
    </div>
 
 
    <div class="schmancy tile login">
      <div class="content"> <a routerLink="/login">Login </a> </div>
    </div>
    </div> 
 
</div>


 

